<template>
  <div style="display: flex;flex-direction: column;align-items: center;">
    <input type="text" placeholder="title" style="max-width: 30%; margin-bottom: 20px;" v-model="title">
    <textarea v-model="content" id="" cols="30" placeholder="content" rows="10" style="max-width: 30%;"></textarea>
    <button style="background-color: red;max-width: 30%;padding: 10px 30px;margin-top: 20px;color: #fff;border: none;"
            @click="saveArticle">
      {{ this.article != null ? 'Update' : 'Create' }}
    </button>
  </div>
</template>

<script>
import axios from 'axios'
import API_URL from "@/consts";
import swal from 'sweetalert'

export default {
  name: "ArticleCreateUpdateForm",
  props: [
    'fetchArticles',
    'article'
  ],
  data: function () {
    return {
      title: this.article != null ? this.article.title : '',
      content: this.article != null ? this.article.content : ''
    }
  },
  methods: {
    saveArticle() {
      if (this.article != null)
        this.updateArticle()
      else {
        axios.post(`${API_URL}/articles`, {
          title: this.title,
          content: this.content
          // eslint-disable-next-line no-unused-vars
        }).then((response) => {
          this.fetchArticles()
          this.title = ''
          this.content = ''
        }).catch((response) => {
          swal('Error', response.message)
        })
      }

  },
  updateArticle() {
    axios.put(`${API_URL}/articles/${this.article.id}`, {
      title: this.title,
      content: this.content
      // eslint-disable-next-line no-unused-vars
    }).then((response) => {
      this.fetchArticles()
      this.title = ''
      this.content = ''
      this.$emit('afterUpdate')

    }).catch((response) => {
      swal('Error', response.message)
    })
  }
}
}
</script>

<style scoped>

</style>