<template>
  <div
      style="display: flex;justify-content: space-evenly;align-items: center;border: 1px solid red;margin-bottom: 20px;">
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <p style="cursor: pointer;" @click="this.$emit('selectArticle',article)">
      Изменить
    </p>
    <p style="cursor: pointer;" @click="deleteArticle(article.id)">
      Удалить
    </p>
  </div>
</template>

<script>
import axios from 'axios'
import API_URL from "@/consts";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Article",
  props: [
    'article',
    'fetchArticles',
    'selectedArticle'
  ],
  methods: {
    // eslint-disable-next-line no-unused-vars
    deleteArticle(articleId) {
      axios.delete(`${API_URL}/articles/${articleId}`)
          // eslint-disable-next-line no-unused-vars
          .then((response) => {
            this.fetchArticles()

          }).catch((response) => {
        console.log(response)
      })
    },
    selectArticle(selectedArticle){
      this.$emit('click',selectedArticle)
    }

  }
}
</script>

<style scoped>

</style>