<template>
  <!--  <img alt="Vue logo" src="./assets/logo.png">-->
  <!--  <HelloWorld msg="Welcome to Your Vue.js App"/>-->
  <div style="display:flex;justify-content: space-evenly" v-if="!error">
    <div style="min-width: 50%" v-if="updated">
      <ArticleCreateUpdateForm :fetchArticles="fetchArticles" :article="selectedArticle"
                               v-on:afterUpdate="setNullArticle()"></ArticleCreateUpdateForm>
    </div>
    <div style="min-width: 50%">
      <Article v-for="article in articles" :key="article.id" :article="article" v-on:selectArticle="selectArticle"
               :fetchArticles="fetchArticles"></Article>
    </div>
  </div>
  <div v-else>
    Серверная ошибка
  </div>
</template>

<script>
import axios from 'axios'
import API_URL from "@/consts";
import Article from "@/components/items/Article";
import ArticleCreateUpdateForm from "@/components/forms/ArticleCreateUpdateForm";

export default {
  name: 'App',
  components: {
    Article,
    ArticleCreateUpdateForm
  },
  data: function () {
    return {
      articles: [],
      error: null,
      selectedArticle: null,
      updated: true
    }
  },
  methods: {
    fetchArticles() {
      axios.get(`${API_URL}/articles`).then((response) => {
        this.articles = response.data.data
      }).catch((response) => {
        this.error = response.message
      })
    },
    selectArticle(article) {
      this.updated = false
      this.selectedArticle = article
      setTimeout(() => this.updated = true, 500)
    },
    setNullArticle() {
      this.updated = false
      this.selectedArticle = null
      setTimeout(() => this.updated = true, 500)

    }

  },
  mounted() {
    this.fetchArticles()
  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
